body {
  height: 1000px;
}

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 224, 224);

}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 15px;
}

.search-icon {
  height: 25px;
  cursor: pointer;
}

.search-icon-button {
  height: 39px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-icon-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-icon-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-icon {
  height: 24px;
}

.voice-search-button {
  border-style: none;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

.right-section {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 24px;
  margin: 0 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
}

.upload-icon {
  height: 25px;
  cursor: pointer;
}

.youtube-apps-icon {
  height: 25px;
  cursor: pointer;
}

.notifications-icon {
  height: 25px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -6px;
  background-color: rgb(200, 0, 0);
  color: white;
  padding: 2px 5px;
  border-radius: 25px;
  font-size: 10px;
  border-style: solid;
  border-color: white;
}

.current-user-picture {
  height: 32px;
  border-radius: 25px;
  margin-right: 24px;
}