.thumbnail {
  width: 100%;
}


.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
  color: black;
}

a {
  text-decoration: none;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 25px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;

  }
}


@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;

  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
}

/*@media (min-width:1275px) {
  .video-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 6px;
    color: black;
  }
} wait ka lang jan*/

.video-time {
  position: absolute;
  bottom: 10px;
  right: 5px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 4px 4px;
}

.channel-picture-tooltip {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  background-color: white;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  padding: 12px 12px;
  border-radius: 6px;
  width: 190px;
  position: absolute;
  z-index: 300px;

  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  transition: opacity 0.15s;
}

.channel-picture-tooltip:hover .channel-tooltip {
  opacity: 1;
}

.tooltip-profile-picture {
  height: 43px;
  width: 43px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 8px;
  cursor: pointer;
}

.channel-tooltip-name,
.channel-tooltip-stats {
  font-family: Roboto, arial;
}

.channel-tooltip-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.channel-tooltip-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}